.project1{
    background-image: url('https://samuelti.github.io/My-Class-Repo/02_homework/Assets/Capture.JPG');
    width: 350px;
    height:350px;
    text-align: center;
    vertical-align: middle;
}

.project1{
    width: 350px;
    height:350px;
    text-align: center;
    vertical-align: middle;
}

.project1:hover{
opacity: .5;
}