.projectTwo{
    background-image: url('https://samuelti.github.io/My-Class-Repo/02_homework/Assets/Calculator.JPG');
 
}

.work{
    width: 350px;
    height:350px;
    text-align: center;
    vertical-align: middle;
}

.project2:hover{
opacity: .5;
}